[submodule "examples/whois/libpascurl"]
	path = examples/whois/libpascurl
	url = git://github.com/isemenkov/libpascurl.git
[submodule "pascalutils"]
	path = pascalutils
	url = https://github.com/isemenkov/pascalutils
[submodule "libpasc-algorithms"]
	path = libpasc-algorithms
	url = https://github.com/isemenkov/libpasc-algorithms
